.timer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    font-size: 30px;
    font-style: bold;
    margin-top: 20px;
    }
.timer .field {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    }
.value {
    font-size: 40px;
    font-weight: 700;
    flex-direction: column;
    }
.label{
    font-size: 16px;
    text-transform: uppercase;
    }
